:root {
  --background: #fff;
  --text-primary: #000;
  --button-bg: #000;
  --button-text: #fff;
}

[data-theme="dark"] {
  --background: #000;
  --text-primary: #fff;
  --button-bg: #fff;
  --button-text: #000;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  background-color: var(--background);
  font-size: 20px;
  transition: all 0.5s;
  color: var(--text-primary);
}

.container h1 {
  margin-bottom: 10px;
  font-size: 40px;
}

.container button {
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 12px;
  border: 1px solid var(var(--button-bg));
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
